<div class="column icon-wrapper __as-badge">
  <svg class="icon-running-stick" width="18" height="20">
    <use href="./img/icons.svg#icon-running-stick"></use>
  </svg>
</div>
<div class="column quote-content">
  <h2 class="title">Quote of the day</h2>
  <p class="quote-text" id="quote-text"></p>
  <div class="quote-author" id="quote-author"></div>
  <div class="quote-icon-wrapper">
    <svg class="icon-quotes" width="24" height="24">
      <use href="./img/icons.svg#icon-quotes"></use>
    </svg>
  </div>
</div>
