<section class="breadcrumbs">
  <div class="container">
    <div class="wrapper">
      <ul id="breadcrumbs-nav" class="nav">
        <li class="item">Exercises</li>
        <li class="item item-category"></li>
      </ul>

      <div class="search-filters-wrapper">
        <div id="search-field" class="search-field visually-hidden">
          <input placeholder="Search" class="search-input" />
          <button type="button" class="seach-submit">
            <svg class="icon-search" width="18" height="18">
              <use href="./img/icons.svg#icon-search"></use>
            </svg>
          </button>
        </div>

        <ul id="breadcrumbs-filters" class="filters">
          <li class="item"><a href="#">Muscles</a></li>
          <li class="item"><a href="#">Body parts</a></li>
          <li class="item"><a href="#">Equipment</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
