<section class="breadcrumbs">
  <div class="container">
    <div class="wrapper">
      <ul id="breadcrumbs-nav" class="nav">
        <li class="item">Exercises</li>
        <li class="item item-category"></li>
      </ul>

      <div class="search-filters-wrapper">
        <div class="search visually-hidden">
          <input />
        </div>

        <ul id="breadcrumbs-filters" class="filters">
          <li class="item"><a href="#">Muscles</a></li>
          <li class="item"><a href="#">Body parts</a></li>
          <li class="item"><a href="#">Equipment</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
