<section class="hero">
  <div class="container">
    <div class="hero-content">
      <div class="hero-title">
        <img src="./img/icons.svg" alt="Sun Icon" class="icon-sun">
        <h1 class="fade-in">Get <em>Body</em> in shape, Stay healthy</h1>
        <p class="fade-in-delay">
          Transform your physique and embrace a healthier lifestyle with our
          comprehensive fitness and nutrition support.
        </p>
      </div>
    </div>
    <div class="hero-main-image">
      <img src="./img/hero/hero-main-image.jpg" alt="Two people exercising" class="slide-up">
      <img src="./img/hero/hero-main-image@2x.jpg" alt="Two people exercising" class="slide-up">
    </div>
      <div class="hero-tags fade-in-delay">
        <span class="tag">#Sport</span>
        <span class="tag">#Healthy</span>
        <span class="tag">#Workout</span>
        <span class="tag">#Diet</span>
    </div>
    <img src="./img/hero/hero-small-image.jpg" alt="Feet together" class="hero-small-image">
    </div>
  </div>
</section>
