<div class="backdrop is-hidden" data-modal>
  <div class="modal-exercise">
    <button type="button" class="button-close" data-modal-close>
      <svg class="button-close-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div data-modal-content>
    </div>
  </div>
</div>

<div class="raiting backdrop is-hidden" data-raiting-modal>
  <div class="modal-raiting">
    <button type="button" class="button-close" data-raiting-modal-close>
      <svg class="button-close-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <form class="raiting-form">
      <a>Raiting</a>
      <div class="raiting-indicator"><a class="raiting-value">0.0</a><div id="rater"></div></div>
      <input type="email" placeholder="Email" autofocus/>
      <textarea placeholder="Your comment" rows="5"></textarea>
      <button type="submit">Send</button>
    </form>
  </div>
</div>