<div class="backdrop is-hidden" data-modal>
  <div class="modal-exercise">
    <button type="button" class="close" data-modal-close>
      <svg class="close-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="content-container" data-modal-content></div>
    <ul class="controls">
      <li class="controls-item">
        <button class="favorite-button" data-modal-favorite>
          Add to favorites
          <svg class="favorite-icon" width="18" height="18">
            <use href="./img/icons.svg#icon-heart"></use>
          </svg>
        </button>
      </li>
      <li class="controls-item">
        <button class="rating-button" data-rating-modal-open>
          Give a rating
        </button>
      </li>
    </ul>
  </div>
</div>

<div class="rating backdrop is-hidden" data-rating-modal>
  <div class="modal-rating">
    <button type="button" class="close" data-rating-modal-close>
      <svg class="close-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-cross"></use>
      </svg>
    </button>

    <form class="rating-form">
      <a>Rating</a>
      <div class="rating-indicator">
        <a class="rater-value">0.0</a>
        <div id="rater"></div>
      </div>
      <input placeholder="Email" autofocus />
      <textarea placeholder="Your comment" rows="5"></textarea>
      <button type="submit" disabled>Send</button>
    </form>
  </div>
</div>
