<section class="sidebar">
  <ul class="sidebar-list">
    <li class="sidebar-list-item list-item-quote-card">
      <div class="columns quote-card">
        <load src="/partials/__quote.html" />
      </div>
    </li>
    <li class="sidebar-list-item list-item-image-card">
      <div class="image-card">
        <picture>
          <source
            srcset="./img/sports/sports.jpg 1x, ./img/sports/sports@2x.jpg 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/sports/sports-tablet.jpg    1x,
              ./img/sports/sports-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/sports/sports-mobile.jpg    1x,
              ./img/sports/sports-mobile@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./img/sports/sports-mobile.jpg"
            alt="Two women talking after a workout"
          />
        </picture>
      </div>
    </li>
    <li class="sidebar-list-item list-item-advice-card">
      <div class="columns advice-card">
        <div class="column icon-wrapper __as-badge">
          <svg class="icon-dumbbell" width="20" height="20">
            <use href="./img/icons.svg#icon-dumbbell"></use>
          </svg>
        </div>
        <div class="column advice-content">
          <h3 class="title">110 min</h3>
          <p class="description">Daily norm of sports</p>
          <p class="info-content">
            The World Health Organization recommends at least 150 minutes of
            moderate-intensity aerobic physical activity throughout the week for
            adults aged 18-64. However, what happens if we adjust that number to
            110 minutes every day? While it might seem like a high number to
            hit, dedicating 110 minutes daily to sporting activities may offer
            unparalleled benefits to physical health, mental well-being, and
            overall quality of life.
          </p>
        </div>
      </div>
    </li>
  </ul>
</section>
