<section class="sidebar">
  <ul class="sidebar-list">
    <li class="sidebar-list-item list-item-quote-card">
      <div class="columns quote-card">
        <div class="column icon-wrapper">
          <svg class="icon-running-stick" width="18" height="20">
            <use href="./img/icons.svg#icon-running-stick"></use>
          </svg>
        </div>
        <div class="column quote-content">
          <h2 class="title">Quote of the day</h2>
          <p class="quote-text" id="quote-text"></p>
          <div class="quote-author" id="quote-author"></div>
          <div class="quote-icon-wrapper">
            <svg class="icon-quotes" width="24" height="24">
              <use href="./img/icons.svg#icon-quotes"></use>
            </svg>
          </div>
        </div>
      </div>
    </li>
    <li class="sidebar-list-item list-item-image-card">
      <div class="image-card">
        <img src="./img/sports.png" alt="Two women talking after a workout" />
      </div>
    </li>
    <li class="sidebar-list-item list-item-advice-card">
      <div class="columns advice-card">
        <div class="column icon-wrapper">
          <svg class="icon-dumbbell" width="20" height="20">
            <use href="./img/icons.svg#icon-dumbbell"></use>
          </svg>
        </div>
        <div class="column advice-content">
          <h3 class="title">110 min</h3>
          <p class="description">Daily norm of sports</p>
          <p class="info-content">
            The World Health Organization recommends at least 150 minutes of
            moderate-intensity aerobic physical activity throughout the week for
            adults aged 18-64. However, what happens if we adjust that number to
            110 minutes every day? While it might seem like a high number to
            hit, dedicating 110 minutes daily to sporting activities may offer
            unparalleled benefits to physical health, mental well-being, and
            overall quality of life.
          </p>
        </div>
      </div>
    </li>
  </ul>
</section>
