/**/
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }

  10%,
  30% {
    transform: rotate(-10deg);
  }

  20%,
  40% {
    transform: rotate(10deg);
  }
}

@keyframes spin {
  0% {
    transform: translateY(10px);
  }

  25% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(10px);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
