* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-primary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-secondary);
  margin: 0;
  box-sizing: border-box;
}

body > main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container .container {
  display: flex;
  flex-direction: column-reverse;
  gap: 80px;
}

/* tablet */
@media only screen and (min-width: 768px) {
  .main-container .container {
    gap: 64px;
  }
}

/* desktop */
@media only screen and (min-width: 1440px) {
  .main-container .container {
    flex-direction: row;
    gap: 32px;
  }
}