* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-primary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

body > main {
  flex-grow: 1;
}

.main-container .container {
  display: flex;
  flex-direction: column-reverse;
  gap: 80px;
}

/* tablet */
@media only screen and (min-width: 768px) {
  .main-container .container {
    gap: 64px;
  }
}

/* desktop */
@media only screen and (min-width: 1200px) {
  .main-container .container {
    flex-direction: row;
    gap: 32px;
  }
}