/**/
.exercises {
  min-height: 335px;
  width: 100%;
}

.exercises-ratio,
.modal-exercise-info {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.exercises .cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.exercises .cards .card-item {
  position: relative;
  width: 335px;
}

.exercises .cards .card-link {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  display: block;
  outline: none;
  transition: box-shadow var(--trns-fast);
}

.exercises .cards .card-link:hover .card-content {
  background-color: transparent;
}

.exercises .cards .card-link:hover,
.exercises .cards .card-link:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.35);
}

.exercises .cards .card-content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-primary-50);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  transition: var(--trns-fast);
}

.exercises .cards .card-name {
  color: var(--color-secondary);
  font-size: 20px;
  line-height: 1.3;
  text-transform: capitalize;
  text-align: center;
  padding: 0 12px;
  margin-bottom: 2px;
}

.exercises .cards .card-filter {
  color: var(--color-secondary-40);
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  padding: 0 12px;
}

.cards-exercises {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 20px;
  column-gap: 20px;
}

.cards-exercises .card-item {
  flex-basis: 335px;
  height: 140px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #FFFFFF;
  padding: 16px;
}

.cards-exercises .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.cards-exercises .card-header .badge-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.cards-exercises .card-header .badge-wrapper .__badge {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  border: 1px solid var(--color-primary);
  padding: 5px 8px;
  border-radius: 15px;
}

.exercises-ratio {
  gap: 2px;
  justify-content: center;
  align-items: center;
  color: var(--color-gold);
}

.exercises-ratio .ratio-value {
  padding-top: 1px;
  color: var(--color-primary);
  font-size: 12px;
  line-height: 1.5;
}

.exercises-ratio .ratio-star {
  padding: 2px;
  fill: currentColor;
}

.modal-exercise-info {
  font-family: inherit;
  color: var(--color-primary);
  max-width: 61px;
  width: 100%;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.29;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon-arrow {
  color: currentColor;
  font-size: 18px;
}

.cards-exercises .card-content {
  font-size: 24px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
}
.cards-exercises .card-content .card-content-name {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cards-exercises .card-footer {
  font-size: 12px;
  line-height: 1.5;
}

.cards-exercises .card-footer .item-name {
  color: var(--color-primary-40);
  text-wrap: nowrap;

}

.cards-exercises .card-footer .item-value {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cards-exercises .card-footer .card-footer-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.cards-exercises .card-footer .card-footer-list .item {
  display: flex;
  align-items: center;
  gap: 4px;
  overflow-x: hidden;
}


/* tablet */
@media only screen and (min-width: 768px) {
  .exercises .cards {
    gap: 14px;
  }
  .exercises .cards .card-item {
    width: 225px;
  }
  .cards-exercises {
    row-gap: 32px;
    column-gap: 16px;
  }
  .cards-exercises .card-item {
    flex-basis: 344px;
  }
  .exercises .cards .card-name {
    font-size: 24px;
  }
}

/* desktop */
@media only screen and (min-width: 1440px) {
  .exercises .cards .card-item {
    width: 290px;
  }
  .cards-exercises .card-item {
    flex-basis: 442px;
  }
}
