.backdrop,
.raiting.backdrop {
  position: fixed;
  inset: 0;
  background-color: var(--color-primary-50);
  transition: var(--trns-fast);
  transition-property: opacity, visibility;
}

.modal-exercise {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1);
  min-width: 335px;
  min-height: 584px;
  border-radius: 20px;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  transition: var(--trns-fast);
  transition-property: opacity, transform;
  padding: 40px 20px;
}

.backdrop.is-hidden,
.raiting.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal-exercise,
.raiting.backdrop.is-hidden .modal-raiting {
  transform: translateX(-50%) translateY(-50%) scale(0.3);
  opacity: 0;
}

.mobile-menu .close {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: var(--color-primary);
}

.mobile-menu .close .icon {
  stroke: var(--color-secondary);
  transition: stroke var(--trns-fast);
}

.mobile-menu .close:hover .icon,
.mobile-menu .close:focus .icon,
.mobile-menu .close:active .icon {
  stroke: var(--color-secondary-60);
}

.modal-exercise .close,
.modal-raiting .close {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: var(--color-primary);
}

.modal-exercise .close-icon,
.modal-raiting .close-icon {
  stroke: var(--color-secondary);
  transition: stroke var(--trns-fast);
}

.modal-exercise .close:hover .close-icon,
.modal-exercise .close:focus .close-icon,
.modal-exercise .close:active .close-icon,
.modal-raiting .close:hover .close-icon,
.modal-raiting .close:focus .close-icon,
.modal-raiting .close:active .close-icon {
  stroke: var(--color-secondary-60);
}
