
.team-backdrop {
  position: fixed;
  top: 0;
  z-index: 69;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 4, 4, 0.4);
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.team-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  max-width: 360px;
  height: 440px;

  border-radius: 20px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 40px 20px;
  transition: transform 0.4s ease;
  overflow: auto;
}

.team-wrapper {
  overflow-y: auto;
  max-width: 320px;
  max-height: 360px;
  padding-right: 40px;
}

.team-wrapper::-webkit-scrollbar {
  width: 10px;
}

.team-wrapper::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 20px;
}

.team-wrapper::-webkit-scrollbar-track {
  background-color: #929292;
  border-radius: 8px;
}

.team-btn-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  right: 14px;
  top: 14px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.team-close-icon {
  width: 24px;
  stroke: var(--color-secondary);
}


.team-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team-item {
  position: relative;
  border: 1px solid var(--color-secondary);
  border-radius: 30px;
  padding: 20px;
  padding-left: 0;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}

.more-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  fill: var(--color-secondary);
}
.arrow-up {
  transform: rotate(180deg);
}

.team-name {
  color: var(--color-secondary);
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.hidden-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.active-devel {
  background-color: var(--color-primary);
}
.team-soc-list {
  display: flex;
  margin-top: 16px;
  gap: 10px;
  justify-content: center;
}

.team-link {
  border-radius: 10px;
  border: 1px solid var(--color-primary-10);
  background: var(--color-primary-80);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

}
.team-icon {
  fill: var(--color-secondary);
}


.project-git {
  border: 1px solid var(--color-secondary);
  border-radius: 30px;
  background: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 295px;
  padding: 12px 14px;
  text-align: center;
  gap: 10px;
  margin-top: 20px;
  color: var(--color-primary);
}

.project-icon {
  fill: var(--color-primary);
}

@media screen and (min-width: 768px) {
  .team-modal {
    max-width: 450px;
    height: 570px;
    padding: 60px 20px 40px 40px;
  }
  .team-wrapper {
    max-width: 390px;
    max-height: 460px;
    padding-right: 30px;
  }
  .team-close-icon {
    width: 28px;
  }
  .project-git {
    max-width: 350px;
    margin-top: 32px;
  }
  .team-name {
    font-size: 20px;
  }
}
