
 .pagination {
  display: flex;
  align-items: center;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.pagination .list-item {
  cursor: pointer;
  transition: all var(--trns-fast);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 1;
}

.pagination .list-item-action .page-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination .list-item-action,
.pagination .list-item.active {
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  color: var(--color-hidden);
}

.pagination .list-item-action {
  border: 1px solid var(--color-hidden);
  color: var(--color-hidden);
}

.pagination .list-item-action:hover {
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.pagination .list-item:not(.list-item-action) {
  color: var(--color-hidden);
}
.pagination .list-item:hover {
  color: var(--color-primary);
}
.pagination .list-item.active {
  pointer-events: none;
  color: var(--color-primary);
}

.pagination .go-to-prev{
  margin-right: 6px;
}
.pagination .go-to-next {
  margin-left: 6px;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .pagination {
    margin-top: 32px;
  }
  .pagination .list-item {
    font-size: 24px;
  }
}
