.modal-rating .button-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  background-color: var(--color-primary);
  transition: background-color var(--trns-fast);
  cursor: pointer;
}

.modal-rating {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1);
  min-width: 335px;
  border-radius: 20px;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  transition: var(--trns-fast);
  transition-property: opacity, transform;
  padding: 40px 20px;
}

.rating-indicator{
  margin-top: 2px;
  margin-bottom: 2px;
  display: flex;
}

.rating-form {
  box-sizing: border-box;
  color: var(--color-secondary-40);
  font-family: 'DM Sans';
}

.rater-value{
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  padding-right: 2px;
  display: block;
  width: 19px;
}

.rating-form input{
  width: 100%;
  min-width: 100%;
  background-color: var(--color-primary);
  border: 1px var(--color-secondary) solid;
  height: 48px;
  border-radius: 24px;
  max-width: 350px;
  margin-top: 32px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-left: 14px;
}

.rating-form input{
  color: var(--color-secondary-40);
}

.rating-form textarea{
  width: 100%;
  min-width: 100%;
  background-color: var(--color-primary);
  border: 1px var(--color-secondary) solid;
  border-radius: 15px;
  max-width: 350px;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-left: 14px;
  padding-top: 12px;
}

.rating-form textarea{
  color: var(--color-secondary-40);
}

.rating-form button{
  width: 100%;
  height: 48px;
  border-radius: 24px;
}

@media screen and (min-width: 768px) {
  .modal-rating {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1);
    min-width: 430px;
    border-radius: 20px;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    transition: var(--trns-fast);
    transition-property: opacity, transform;
    padding: 40px;
  }
}
