.sidebar .info-card {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 30px;
  border-radius: 20px;
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.page-favorites .sidebar{
  display: flex;
  flex-direction: column-reverse;
}


.sidebar .info-card .icon {
  margin-top: 5px
}

.sidebar .quote-block {
  background-color: var(--input-active);
  color: var(--color-secondary);
  padding: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 15px;
}

.sidebar .image-card {
  padding: 0;
}

.sidebar .quote-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sidebar .icon .svg-icon {
  width: 32px;
  height: 32px;
  fill: white;
}

.sidebar .quote-end-icon {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 40px;
  fill: var(--color-secondary);
  height: 40px;
}

.sidebar h2 {
  margin: 0;
  font-size: 24px;
}

.sidebar #quote_text {
  margin: 20px 0 0 0;
  font-size: 18px;
  line-height: 1.6;
}

.sidebar #quote_author {
  margin-top: 20px;
  font-style: italic;
  font-size: 16px;
}

.sidebar .icon-wrapper {
  margin-right: 15px;
  fill: var(--color-secondary);
  height: 38px;
  width: 38px;
  background-color: var(--color-dark-gray);
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.sidebar h3 {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
}

.sidebar .subtitle {
  margin: 5px 0;
  font-size: 16px;
  color: #888;
}

.sidebar .info-description {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.page-favorites .sidebar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.page-favorites .quote-block {
  width: 50%;
  order: 3;
}


.page-favorites .image-card {
  order: 2;
}


.page-favorites .element {
  order: 1;
}

 .page-favorites .image-card,
 .page-favorites .element {
   flex: 1 1 48%;
   box-sizing: border-box;
 }

.page-favorites .sidebar .info-description {
  display: none;
}
@media  (max-width: 768px) {
  .page-favorites .quote-block {
    width: 100%;
  }
}
@media only screen and (min-width: 1440px) {
  .page-favorites .quote-block {
    width: 100%;
  }
.page-favorites .sidebar{
  flex-direction: row;
}

  .page-favorites .quote-block {
    width: 50%;
    order: 1;
  }


  .page-favorites .image-card {
    order: 2;
  }


  .page-favorites .element {
    order: 3;
  }
  .sidebar {
    width: 444px;
    flex-shrink: 0;
  }

  .page-favorites .sidebar {
    display: flex;
    flex-direction: row-reverse;
    width: 40%;
    flex-wrap: wrap;
  }

  .page-favorites .sidebar .quote-block {
    width: 100%;
  }

  .page-favorites .sidebar .info-card {
    width: 50%;
    overflow: hidden
  }



  .page-favorites .sidebar .quote-block {
    margin-bottom: 0px;
  }


  .page-favorites .sidebar .info-card {
    flex: 2;
  }
}




